@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Tajawal');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* CSS Document */
html{
	scroll-behavior: smooth;
}

body {
/*  background-image: url("../images/home-background.png");*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

}

.large-header {
  position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
	max-height: 600px !important;
}

/*
.large-header {
   background-image: url("../images/demo-bg-1.jpg");
}
*/

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 1%;
	z-index: -999;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: -998;
}

.main-title {
	color: #F9F1E9;
   	text-transform: uppercase;
   	font-size: 3.2em;
	line-height: 70px;
   	letter-spacing: 0.1em;
	text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.46);
	position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);

}

.main-title .thin {
   font-weight: 200;
}

@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}


.header-border {
	padding: 5px 0px;
	height: 5px;
	background-color: #EAEAEA;
}

section{
	padding: 0px 0px 60px 0px;	
}

.container-fluid {

	margin-top: 1%;
	padding: 50px 0px;
	background-color: white;
	border-radius: 10px;
	z-index: -5;
	width: 80%;

/*
	position: relative;
    top: 85%;
    left: 50%;
    transform: translateX(-50%) translateY(-85%);
*/
}

.container section h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 2.18rem;
	font-weight: 700;
	line-height: 2.2rem;
	color: #4D5360;
	text-align: center;
}

.container section .sm-divider-line
{
	width: 20%;
	height: 3px;
	margin:1.5rem 1.0rem 1.3rem 0.2rem;
	border-radius: 5px;
    background: linear-gradient(#0080EF 0%, #00ACFF 100%);
	margin-right: auto;
	margin-left: auto;
	width: 18%
}

.row h1 {
	color: #363636;
   	font-size: 1.7em;
	line-height: 90px;
	font-weight: bold;
	text-align: center;
	padding: 0px 0px 0px 15px;

}

.card-body {
	padding: 2.2rem 2.1rem 3.8rem 2.1rem;
}
#accordion-style-1 h1,
#accordion-style-1 a{
    color:#0F3179;
}
#accordion-style-1 .btn-link {
    font-weight: 400;
    color: #0080EF;
    background-color: transparent;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: bold;
	padding-left: 28px;
}

#accordion-style-1 .card-body {
    border-top: 2px solid #0080EF;
}

#accordion-style-1 .card-header .btn.collapsed .fa.main{
	display:none;
}

#accordion-style-1 .card-header .btn .fa.main{
	background: #0080EF;
    padding: 17px 11px;
    color: #ffffff;
    width: 35px;
    height: 50px;
    position: absolute;
    left: -1px;
    top: 20px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
	display:block;
}


section p {
	font-family: 'Poppins', sans-serif;
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 1.40rem;
	color: #838fae;
}

section li{
	font-family: 'Poppins', sans-serif;
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 1.40rem;
	color: #838fae;
}

section h5{
	padding-top: 15px;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
	font-weight: 500;
	color: #4D5360;
	text-align: left;
}


.service-img
{
	width: 100%;
	height: auto;
	margin-top: 2%;
	margin-bottom: 5%;
}



/*
footer .container .row .col-sm .sm-icons {
top: 0%;
}
*/
