@charset "utf-8";
/* CSS Document */
html{
	scroll-behavior: smooth;
}

body {
/*  background-image: url("../images/home-background.png");*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

}


.navbar{
	padding: 20px 120px 10px 120px;
	transition: 0.4s;
	background-image: linear-gradient(180deg,  rgba(0,128,239,0.2) 0%, rgba(2,23,68,0.04) 100%);
	position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
		transition: all 0.4s ease-in-out;
}

.navbar.compressed {
  padding: 5px 90px 0px 90px;
	background-image: #EBEFF2;  
	background-image: linear-gradient(90deg, #FFFFFF  0%, #FFFFFF 100%);
  color: #333434;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}


.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
	margin-right: 5px;
	transition: all 0.2s ease-in-out;
}
.navbar-light .navbar-nav .nav-link.compressed{
  color: #333434;
	margin-right: 5px;
	font-size: 0.94rem;
	transition: all 0.2s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
  transform: scale(1.1);
  color: aquamarine;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #FFFFFF;
}

.nav-item.active .nav-link.compressed {
	color: #333434;
}


.large-header {
   position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
	max-height: 600px !important;
}

/*
.large-header {
   background-image: url("../images/demo-bg-1.jpg");
}
*/

#maVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 1%;
	z-index: -999;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -998;
}

/*
.main-title {
   
   -webkit-transform: translate3d(35%, 20%, 0);
   transform: translate3d(35%, 20%, 0);
}
*/

.main-title {
	
	color: #F9F1E9;
   text-transform: uppercase;
   font-size: 2.8em;
	line-height: 70px;
   letter-spacing: 0.1em;
	text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.46);
	margin-top: 12px;

}

.main-title .thin {
   font-weight: 200;
}

@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}




.carousel-inner{
  width:100%;
  max-height: 670px !important;
}
/*
.large-header .carousel-item {
	justify-content: center center;
	vertical-align: middle;
	margin: auto;
}
*/
.carousel-item {
    top:40%;
	bottom: 60%;
}

/*
section{
	background-color: aqua;
}
*/

.header-border {
	padding: 5px 0px;
	height: 5px;
	background-color: #EAEAEA;
}

section .container{
	padding-top: 82px;
	padding-bottom: 20px;
	text-align: left;
	max-width: 80%;
}
.container .services-header {
	width: 80%;
	margin-bottom: 50px;
	margin-right: auto;
	margin-top: 5%;
}
.container .services-header h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 2.18rem;
	font-weight: 700;
	line-height: 2.2rem;
	color: #4D5360;
}

.container .services-header p {
	font-family: 'Poppins', sans-serif;
	font-size: 1.0rem;
	font-weight: 400;
	line-height: 1.60rem;
	color: #838fae;

}

.col-sm {
	padding-right: 6px;
	padding-left: 6px;
}

/*
.container .row {
	margin-top: 40px;
}
*/
section .container a{
	text-decoration: none;
}



.card {
	border:none;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 6px 10px rgba(93, 112, 223, 0.11);
	text-align: center;
	text-decoration: none;
	margin-bottom: 10px;
}

.card-body{
	padding:0.8rem 1.0rem 1.0rem 1.0rem;
	text-decoration: none;
}

.card-img-top{
	padding-top: 1.2rem;
		margin-left: auto;
	margin-right: auto;
	width: 35%;
}
.card-title{
	font-family: 'Poppins', sans-serif;
	font-size: 0.97rem;
	font-weight: 600;
	line-height: 1.50rem;
	color: #1C6B84;
	text-decoration: none;
}
.divider-line, .sm-divider-line, 
.our-leadership.container .services-header .sm-divider-line
{
	width: 70%;
	height: 3px;
	margin:1.5rem 1.0rem 1.3rem 0.2rem;
	border-radius: 5px;
    background: linear-gradient(#0080EF 0%, #00ACFF 100%);
	margin-right: auto;
}


#solutions-carousel {
	padding-top: 70px;
}
.carousel-caption {
	top: 25%;
	right: 20;
	bottom: 0;
	left:20;
}

.carousel-caption p{
	    width: 50%;
    margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.7rem;
	color: #FFF;
}

.sm-divider-line{
	width: 20%;
}
#our-leadership{
 padding-top: 50px;
	padding-bottom: 86px;
}
.center.container{
	text-align: center;
	max-width: 80%;
}

.center.container .services-header {
	width: 80%;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
}
.center.container .services-header .sm-divider-line {
	margin-right: auto;
	margin-left: auto;
	width: 18%
}

#our-leadership .row .col-sm h4,
#our-leadership .row .col-sm p{
	margin-top: 5px;
	font-family: 'Poppins', sans-serif;
	font-size: 1.3rem;
	font-weight: 600;
	line-height: 1.7rem;
	color: #595959;
}
#our-leadership .row .col-sm p {
	font-size: 0.9rem;
	font-weight: 400;
	
}
#our-clients {
	 padding-top: 46px;
	padding-bottom: 96px;
	min-width: 100% !important;
	background-color: #F9FBFF;
}

section .marquee.container-fluid {
	margin-top: 10px;
	width:65%;
}

#contact{
	 padding-top: 54px;
	padding-bottom: 60px;
}

#contact .row .col-sm .input-field,
#contact .row .col-sm .input-field-des{
	width: 100%;
    height: 60px;
	border-radius: 8px;
  	background: #F9FBFF;
    color: #646464;
    border: 0px;
    background: #F9FBFF;
    font-size: 14px;
    padding: 10px 15px 15px 30px;
	border: 0px solid #e2e6ea;
  	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  	transition: all 0.2s ease-in-out;
	cursor: pointer;
	margin-bottom: 3px;
}
#contact .row .col-sm .input-field:hover {
  	transform: scale(1.01);
	font-style: italic;
}

#contact .row .col-sm .input-field-des{
	width: 100%;
	height: 140px;
}
#contact .row {
	margin-top: 15px;
}


.round-button {
	position: absolute;
	right: 5%;
	bottom: -11%;
    width: 6%;
    height: 0;
    padding-bottom: 6%;
    border-radius: 50%;
    border: 0px solid #e2e6ea;
  	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
	background: #33adff;
	transition: all 0.2s ease-in-out;
}
.round-button:hover {
	transform: scale(1.05);
    background: #023B62;
}
.round-button img {
    display: block;
    width: 105%;
    padding: 8%;
	padding-left: 15%;
    height: auto;
}


   .modal-confirm {		
		color: #636363;
		width: 325px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
	}
	.modal-confirm .modal-header {
		border-bottom: none;   
        position: relative;
	}
	.modal-confirm h4 {
		text-align: center !important;
		font-size: 26px;
		margin: 30px 0 -15px;
	}
	.modal-confirm .form-control, .modal-confirm .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	.modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}	
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;
		border-radius: 5px;
		font-size: 13px;
	}	
	.modal-confirm .icon-box {
		color: #fff;		
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -70px;
		width: 95px;
		height: 95px;
		border-radius: 50%;
		z-index: 9;
		background: #82ce34;
		padding: 15px;
		text-align: center;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
	.modal-confirm .icon-box i {
		font-size: 58px;
		position: relative;
		top: 3px;
	}
	.modal-confirm.modal-dialog {
		margin-top: 80px;
	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #82ce34;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
        border: none;
    }
	.modal-confirm .btn:hover, .modal-confirm .btn:focus {
		background: #6fb32b;
		outline: none;
	}
/*
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}
*/




footer{
	width: 100%;
	background-color: #021744;
	margin-top: 50px;
	background-image: url("../images/footer-watermark.png");
	  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
	padding: 120px 20px 40px 20px;
}

footer .container .row {
	text-align: left;
	left: 2%;
}
footer .container .row p,
footer .container .row h5,
footer .container .row a{
	font-family: 'Poppins', sans-serif;
	font-size: 0.88rem;
	font-weight: normal;
	line-height: 1.50rem;
	color: #8C9DBB;
	transition: all 0.2s ease-in-out;
}

footer .container .row p,
footer .container .row  h5,
footer .container .row a{
  transform: scale(1.02);
  color: #8C9DBB;
}

footer .container .row  h5{
	color: azure;
	font-size: 0.96rem;
	font-weight: 500;
	padding-bottom: 1px;
}

footer .container p.copyrights{
	
	font-family: 'Poppins', sans-serif;
	font-size: 0.88rem;
	font-weight: normal;
	line-height: 1.50rem;
	color: #8C9DBB;
	padding:15px;
	z-index: 1;
}

.footer-contact img {
	display: inline-block;
	float: left;
}
.footer-contact .para {
	margin-left: 30px;
	width: 110%;
}


/*@media (min-width: 576px) {  }*/

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {  

	.navbar .navbar-brand img {
   		 max-width: 100px;
  	}
	
	.large-header {
		max-height: 360px !important;
	}
	.main-title {
    	font-size: 1.8em;
    	line-height: 3.0rem;
    	margin-top: 0px;
	}
	
	.container .services-header {
    	width: 90%;
    	margin-bottom: 20px;
    	margin-right: auto;
    	margin-top: 1%;
	}
	
	.container .services-header h3 {
	font-size: 1.3rem;
	}

	.container .services-header p {
	font-size: 0.70rem;
	line-height: 1.20rem;
	}
	.divider-line {
		margin: 0.40rem 1.0rem 0.88rem 0.2rem;
	}
	.card-title {
		font-size: 0.8rem;
		line-height: 1.18rem;
	}
	.card-body {
		padding: 0.8rem 0.6rem 1rem 0.6rem;
	}
	.card-body.fs {
		padding: 0.8rem 0.4rem 1rem 0.4rem;
	}
	.carousel-caption {
    top: 11%;
	}
	.carousel-caption img {
		width: 160px !important;
	}
	.carousel-caption p {
    width: 75%;
    margin-top: 10px;
    font-size: 0.66rem;
    font-weight: 400;
    line-height: 1.0rem;
    }
	#our-leadership .row .col-sm img{
		width: 100px !important;
	}
	#our-leadership .row .col-sm h4 {
    	margin-top: 5px;
    	font-size: 0.80rem;
    	font-weight: 600;
    	line-height: 1.0rem;
    }
	#our-leadership .row .col-sm p{
		font-size: 0.68rem;
		line-height: 1.1rem;
	}
	#our-clients .row img {
		width: 130px !important;
	}
	#our-clients .row img.loop-today-img {
		width: 70px !important;
	}
	#our-clients .row img.jade-crop-img {
		width: 90px !important;
	}
	.round-button {
		bottom: -11%;
	}
	footer .container{
		max-width: 860px !important;
	}
	footer .container .row .col-sm-4 img.footer-logo{
		width: 120px;
	}
	footer .container .row .col-sm-4 p{
		font-size: 0.72rem;
		line-height: 1.2rem;
		margin-left: 5px;
	}
	footer .container .row .col-sm-4 img{
		width: 30px;
	}
	footer .container .row h5{
		font-size: 0.74rem;
	}
	footer .container .row p a,
	footer .container .row .footer-contact .para p {
		font-size: 0.70rem;
	}
	footer .container .row .footer-contact .para {
		margin-left: 22px;
	}
	footer .container .row .footer-contact img {
		width: 15px;
		margin-top: 3px;
	}
	footer .container .row .footer-contact iframe {
		width: 230px;
		height: 140px;

	}
	footer .container .row .copyrights {
		font-size: 0.68rem;
	}
	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px)  {
	.navbar-nav {
		padding: 18px 35px 15px 80px;
		margin-left: 38px !important;
		font-family: 'Poppins', sans-serif;
		font-size: 0.90rem;
		font-weight: 360;
		line-height: 1.50rem;
		flex-direction: row;
		
		display:flex;
    	felx-wrap:wrap;
	}
	.navbar-nav li.why-us {
    	width: 74px;
	}
	.navbar-nav li.our-leadership {
    	width: 126px;
	}
	
	.navbar .navbar-brand img {
   		 max-width: 100px;
  	}
	.navbar-light .navbar-nav .nav-link {
		margin-right: 8px;
		width:inherit;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.3rem;
		padding-left: 0.3rem;
	}
	.large-header {
		max-height: 560px !important;
	}
	.main-title {
    	font-size: 2.3em;
    	line-height: 3.0rem;
    	margin-top: 12px;
	}
	
	.container .services-header {
    	width: 87%;
    	margin-bottom: 20px;
    	margin-right: auto;
    	margin-top: 1%;
	}
	
	.container .services-header h3 {
	font-size: 1.5rem;
	}

	.container .services-header p {
	font-size: 0.80rem;
	line-height: 1.41rem;
	}
	.divider-line {
		margin: 0.40rem 1.0rem 0.88rem 0.2rem;
	}
	.card-title {
		font-size: 0.8rem;
		line-height: 1.18rem;
	}
	.card-body {
		padding: 0.8rem 0.6rem 1rem 0.6rem;
	}
	.card-body.fs {
		padding: 0.8rem 0.4rem 1rem 0.4rem;
	}
	.carousel-caption {
    top: 14%;
	}
	.carousel-caption img {
		width: 220px !important;
	}
	.carousel-caption p {
    width: 75%;
    margin-top: 14px;
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.3rem;
    }
	#our-leadership .row .col-sm img{
		width: 140px !important;
	}
	#our-leadership .row .col-sm h4 {
    	margin-top: 5px;
    	font-size: 0.92rem;
    	font-weight: 600;
    	line-height: 1.0rem;
    }
	#our-leadership .row .col-sm p{
		font-size: 0.76rem;
		line-height: 1.1rem;
	}
	#our-clients .row img {
		width: 130px !important;
	}
	#our-clients .row img.loop-today-img {
		width: 70px !important;
	}
	#our-clients .row img.jade-crop-img {
		width: 90px !important;
	}
	.round-button {
		bottom: -11%;
	}
	footer .container{
		max-width: 860px !important;
	}
	footer .container .row .col-sm-4 img.footer-logo{
		width: 120px;
	}
	footer .container .row .col-sm-4 p{
		font-size: 0.72rem;
		line-height: 1.2rem;
		margin-left: 5px;
	}
	footer .container .row .col-sm-4 img{
		width: 30px;
	}
	footer .container .row h5{
		font-size: 0.74rem;
	}
	footer .container .row p a,
	footer .container .row .footer-contact .para p {
		font-size: 0.70rem;
	}
	footer .container .row .footer-contact .para {
		margin-left: 22px;
	}
	footer .container .row .footer-contact img {
		width: 15px;
		margin-top: 3px;
	}
	footer .container .row .footer-contact iframe {
		width: 230px;
		height: 140px;

	}
	footer .container .row .copyrights {
		font-size: 0.68rem;
	}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
}



/*
footer .container .row .col-sm .sm-icons {
top: 0%;
}
*/
.table {
	font-size: 1.25rem;
	text-align: justify;
	padding: 1.5rem;
	border: none;
	border-width: 0rem;
}

.table tr{
	border: none;
	border-width: 0rem;
}

.table th{
	border: none;
	border-width: 0rem;
}

.table td{
	border: none;
	border-width: 0rem;
}