#leadershipDescription, #Project{
    /* font-size: 15px; */
    /* line-height: 28px; */
    height: 88px;
    overflow: hidden;
    
    /* margin-bottom: -10px; */
  }
  
  .readmore-btn{
      /* margin-bottom: 50px; */
      padding-right: 0px;
      padding-left: -2px;
  }
  
  .showContent #leadershipDescription,
  .showContent #Project
  {
      height: auto;
  }

 .btn-link
  {
      color: #838fae;
    margin-top: -15px;
    margin-right: -3px;
  }

  

  
  /* #our-leadership2 .services-header .row .col-sm-4 .button-orientation button,
  #our-leadership1 .services-header .row .col-sm-4 .button-orientation button,
  #our-leadership .services-header .row .col-sm-4 .button-orientation button
  {
      display: inline-block;
      color: #fff;
      background-color:seagreen;
      text-decoration: none;
      padding: 10px 15px;
      border-radius: 15px;
      margin-bottom: 15px;
  } */
  
  /* .button-orientation button,
  .services-header .row .col-sm-4.showContent .button-orientation button.readmore-btn
  {
      display: inline-block;
      /* margin-left: 40px; */
      /* text-decoration: none;
      padding: 10px 15px;
      border-radius: 15px;
      margin-right: 5px;
      margin-bottom: 15px; */
  /*} */
  
  /* #our-leadership2 .services-header .row .col-sm-4 .button-orientation button:hover,
  #our-leadership1 .services-header .row .col-sm-4 .button-orientation button:hover,
  #our-leadership .services-header .row .col-sm-4 .button-orientation button:hover,
  #our-leadership2 .services-header .row .col-sm-4.showContent .button-orientation button.readmore-btn:hover,
  #our-leadership1 .services-header .row .col-sm-4.showContent .button-orientation button.readmore-btn:hover,
  #our-leadership .services-header .row .col-sm-4.showContent .button-orientation button.readmore-btn:hover
  {
      background-color: grey;
  } */
  
  .button-orientation
  {
      text-align: right;
    
  }
  
  .button-orientation button:hover,
  .button-orientation button:active,
  .button-orientation button:visited,
  .button-orientation button:focus,
  .button-orientation button.readmore-btn:hover,
  .button-orientation button.readmore-btn:active,
  .button-orientation button.readmore-btn:visited,
  .button-orientation button.readmore-btn:focus
  {
      text-decoration: none;
  }
  
  /* #our-leadership .services-header .row .col-sm-4.showContent .button-orientation button.readmore-btn,
  #our-leadership1 .services-header .row .col-sm-4.showContent .button-orientation button.readmore-btn,
  #our-leadership2 .services-header .row .col-sm-4.showContent .button-orientation button.readmore-btn{
      display: inline-block;
      color: #fff;
      background-color:red;
      text-decoration: none;
      padding: 10px 15px;
      border-radius: 15px;
      margin-top: 15px;
      
  } */
  
  /* #our-leadership .services-header .row .col-sm-4.showContent .button-orientation button.readmore-btn,
  #our-leadership1 .services-header .row .col-sm-4.showContent .button-orientation button.readmore-btn,
  #our-leadership2 .services-header .row .col-sm-4.showContent .button-orientation button.readmore-btn{
      display: inline-block;
      color: #fff;
      background-color:red;
      text-decoration: none;
      padding: 10px 15px;
      border-radius: 15px;
      margin-top: 15px;
      
  } */
  
  /* #leadershipDescription {
    font-size: 1rem;
    line-height: 1.5;
  } */
  
  
  #module {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  
  #module .collapse:not(.show) {
    display: block;
    height: 5.5rem;
    overflow: hidden;
  }
  
  #module .collapsing {
    height: 5.5rem;
  }
  
  #module a.collapsed::after {
    color: #838fae;
    content: 'More ▼';
  }
  
  #module a:not(.collapsed)::after {
    color: #838fae;
    content: 'Less ▲';
  }